html body {
  background-color: #1c1c1c;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 auto;
  overflow-x: hidden;
}

/* Mixins */
/* NavBar */
.navbar-brand {
  margin-left: 40px;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-brand img {
  height: 70px;
  width: auto;
}

@media (max-width: 620px) {
  .navbar-brand img {
    height: 50px;
    width: auto;
    margin-left: -25px;
  }
}

.navbar-collapse {
  font-size: larger;
  text-align: center;
}

.navbar .fab {
  font-size: 20px;
  padding: 10px;
  color: #c2c1c1;
}

.navbar .fab .fab:hover {
  color: #f3f2f2;
}

/* Homepage */
/* Mixins */
.home-image {
  opacity: 0.7;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0 auto;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.centered ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 34px;
}

@media (max-width: 992px) {
  .centered ul {
    font-size: 32px;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

@media (max-width: 768px) {
  .centered ul {
    font-size: 28px;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

@media (max-width: 620px) {
  .centered ul {
    font-size: 16px;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

.centered ul .line1 {
  font-family: "Lora", serif;
}

.centered ul .line2 {
  font-family: "Homemade Apple", cursive;
}

.lato {
  margin: 0;
  letter-spacing: 0.15rem;
  color: white;
  font-weight: 400;
  line-height: 1.3;
  text-align: center;
}

@media (max-width: 600px) {
  .lato {
    font-size: 10px;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

.limited {
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  padding: 0.75rem;
  display: inline-block;
  margin: 2rem auto 0;
}

@media (max-width: 375px) {
  .limited {
    margin-top: 15px;
    padding-top: 0 auto;
  }
}

.container {
  position: relative;
  text-align: center;
  max-width: 100%;
  color: white;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.founder-quote {
  margin-top: 100px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: "Lora", serif;
  font-style: italic;
  color: #cacaca;
  font-size: 18px;
}

@media (max-width: 375px) {
  .founder-quote {
    margin-top: 50px;
    padding: 20px;
    font-size: 12px;
  }
}

/* Second container */
.second-container {
  margin-top: 120px;
  width: 100%;
  font-size: 18px;
}

@media (min-width: 992px) {
  .second-container {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .second-container {
    font-size: 16px;
  }
  .second-container p {
    padding: 20px;
  }
}

@media (max-width: 375px) {
  .second-container {
    margin-top: 50px;
    font-size: 12px;
  }
  .second-container p {
    margin-top: 30px;
    padding: 20px;
  }
}

.second-container h2 {
  font-family: "Homemade Apple", cursive;
  padding-top: 20px;
}

.second-container p {
  text-align: center;
  font-family: "Lora", serif;
  font-style: italic;
  color: #cacaca;
}

.home-second {
  width: 500px;
  height: auto;
}

/* Footer - bottom */
.location {
  height: 500px;
}

.location h4 {
  margin-top: 100px;
}

.footer-bottom {
  display: block;
  width: 100%;
  padding: 20px 0 40px;
  background: #141414;
}

.footer-bottom .footer-copy {
  background-size: 41px 41px;
  position: relative;
  display: block;
  width: 100%;
  height: 42px;
  margin-bottom: 22px;
  padding-left: 60px;
  padding-top: 0;
  font-family: "Lora", serif;
  font-style: normal;
  font-style: italic;
  font-size: 13px;
  color: #b4b4b4;
  line-height: 1.3em;
}

.footer-bottom a:visited {
  color: #b4b4b4;
}

.footer-bottom a:hover {
  color: #b4b4b4;
  text-decoration: none;
}

.footer-bottom a:link {
  color: #b4b4b4;
}

.footer-bottom a:active {
  color: #b4b4b4;
}

.socials {
  padding-right: 20px;
}

.socials .fab {
  font-size: 20px;
  padding: 6px;
  color: #c2c1c1;
}

.socials .fab .fab:hover {
  color: #f3f2f2;
}
/*# sourceMappingURL=style.css.map */